@import '../variables'

#Hero
  min-height: 40rem
  display: flex
  align-items: center
  background-color: $primary
  background-image: -webkit-linear-gradient(225deg, $secondary 0%, $primary 33%)
  background-image: -moz-linear-gradient(225deg, $secondary 0%, $primary 33%)
  background-image: -o-linear-gradient(225deg, $secondary 0%, $primary 33%)
  background-image: linear-gradient(225deg, $secondary 0%, $primary 33%)
  color: $white
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 66%, 0% 100%)
  clip-path: polygon(0 0, 100% 0, 100% 66%, 0% 100%)
  margin-bottom: 2em

.proposition
  font-size: 2.4rem

.tagline
  font-size: 1.3rem
  line-height: 1.8rem

